/* 공통 css 
------------------------------------------------- */
body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration-line : none;
}

/* header
---------------------------------------------------*/
header {
    background: url(../img/back-img-01.png) right top repeat-x;
    height: 120px;
}
/* 메뉴 left정렬 */
.left-img {
    float: left;
    margin: 55px 0px 0px 10px;
}
.left-img:nth-child(1) {
    margin-left:90px;
}
/* 로고 사이즈 & 위치 이동 */
.he-logo > img{
    margin-left:270px;
    margin-top:25px;
}
/* 메뉴 right정렬 */
.right-w {
    float: right;
    margin-left: 25px;
    font-size: 11px;
    position: relative;
    bottom: 50px;
    right: 130px;
}
.right-w > a > img {
    position: absolute;
    left: 20px;
    top : -20px;
}


/* nav 
---------------------------------------------------*/
.nav-sev > li {
    float: left;
    margin: 10px 30px 0px 0px;
    font-size:13px;
    font-family: sans-serif;
    font-weight: bold;
}
.nav-sev > li:nth-child(1){
    margin-left:98px;
}
.nav-sev > li:nth-child(1) > a{
    color: pink;
}
.nav-sev > li:nth-child(2) > a{
    color: gray;
}
.nav-sev > li:nth-child(3) {
    margin-left:100px;
}

/* 2depth 링크 */
.nav-sev > li > ul  {
    margin-top:40px;
    line-height:35px;
    /* 메뉴 숨김처리 */
    /* 2차 메뉴가 타이틀바의 뒤에 표시되도록 z-index적용 */
    /* 타이틀바 보다 작은 값 */
    z-index: 100;
    /* 숨김처리 + 투명하게*/
    opacity: 0;
    visibility: hidden;
}
.nav-sev > li:hover > ul {
    /* 2차메뉴 보이기 처리 */
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.5s;
}
.nav-sev > li > ul > li > a {
    color: gray;
    font-family: "굴림";
}
/* 마우스 호버 */
.nav-sev > li > ul > li > a:hover {
    color: pink;
}

/* main
---------------------------------------------------*/
#main-img > img {
    width: 100%;
}
.slidewrap > ul > li > a > img {
    width: 100%;
}

/* 메인사진 슬라이드 구현*/
.section > input {
    display: none;
}
/* 부모요소 white-space부여 */
.slidelist {
    white-space: nowrap;
    overflow: hidden;
}
/* li인라인요소 부여 */
.slidelist > li {
    display: inline-block;
    transition: all .5s;
}
.slidewrap > .slidelist > li > a img {
    width: 100%;
}
/* 화살표 */
.slidelist > li > a > label {
    position: absolute;
    top:50%;
    padding:50px;
    cursor:pointer;
    transform:translateY(-50);
}
/* left */
.slidelist > li > a > .left {
    left: 10px;
    background:url(../img/img47.png) center center / 30% no-repeat;
    width: 150px;
}
/* right */
.slidelist > li > a > .right {
    right: 10px;
    background:url(../img/img48.png) center center /30% no-repeat; 
    width: 150px;
}
/* 이미지 넘기기 */
.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}


/* section
---------------------------------------------------*/
#br-ev {
    height: 500px;
}
#br-ev > h3{
    text-align: center;
    margin: 80px 0px 80px 0px ;
}
#br-ev > ul > li > img {
    width: 245px;
}
#br-ev > ul > li > a > img {
    margin-top:10px;
}
#br-ev > ul > li {
    display:block;
    float: left;
    width: 260px;
    line-height:30px;
    font-size:13px;
}
#br-ev > ul > li:nth-child(1) {
    margin-left: 120px;
}
#br-ev > ul > li > p {
    font-weight: bold;
}
.ev-p2{
    color: grey;
}

/* BR MENU
---------------------------------------------------*/
#menu {
    background-image: url(../img/img65.jpg);
}
#menu > h3{
    text-align: center;
    margin: 80px 0px 80px 0px ;
}
#menu > img {
    margin-left:130px ;
    height: 100%;
}

/* BR STORE
---------------------------------------------------*/
#store > h3 {
    float: left;
    margin: 80px 0px 80px 350px;
}
#store > img {
    width: 500px;
}
#store > img:nth-child(1) {
    margin-left:100px;
}
.st-im {
    margin-left:125px;
}

/* SNS title
---------------------------------------------------*/
#sns {
    height: 120px;
}
#sns > h3 {
    text-align: center;
    margin: 80px 0px 40px 0px ;
}
#sns > ul > li {
    float: left;
}
#sns > ul > li:nth-child(1) {
    margin-left:460px;
}
#sns > ul > li > a > img {
    width: 50px;
    margin-left:15px;
}

/* insta
---------------------------------------------------*/
#insta {
    width:1000px;
    margin: auto;
    height: 900px;
}
#insta > img{
    margin: 60px 0px 0px 360px;
}
/* 한줄에 5개씩 배치 */
#gall > ul > li {
    width: 20%;
    float : left;
    
}
#gall > ul > li > img {
    display: block;
    width: 190px;
    padding: 5px;
    object-fit: cover;
}


/* footer
---------------------------------------------------*/
footer {
    height: 500px;
}
#footer-1 > ul > li {
    float: left;
    font-size: 13px;
    margin: 50px 0px 0px 0px;
}
#footer-1 > ul > li > a {
    color: black;
}
#footer-1 > ul > li > a:nth-child(1) {
    margin-left:75px;
}
/* 두번째 ul */
#footer-2 > ul > li {
    float:left;
    margin: 30px 50px 0px 0px;
}
#footer-2 > ul > li:nth-child(1) {
    margin-left: 320px;
}
select {
    margin: 35px 0px 0px 40px;
}
/* footer-logo */
#footer-logo {
    margin-top:80px;
    margin: 140px 0px 0px 550px;
}
/* 세번째 ul */
#footer-3 {
    font-size: 11px;
}
#footer-3 > ul > li {
    float : left;
    font-size: 11px;
    margin: 50px 20px 10px 0px;
}
#footer-3 > ul > li:nth-child(1) {
    margin-left:300px;
}

#footer-3 > span {
    position: relative;
    top: 70px;
    right: 450px;
    line-height: 20px;
}
